@media screen and (min-width: 1000px) and (max-width: 1200px) {
  div.infoContent > p {
    margin-top: 67px;
    font-size: 1.5rem;
  }

  div.circle {
    width: 500px;
    height: 500px;
    top: 50px;
    right: 2px;
    overflow-y: hidden;
  }
  #about {
    height: 110vh;
    flex-wrap: wrap;
  }
  div.aboutmain {
    flex-wrap: wrap;
  }
  div.aboutMainContent {
    min-width: 400px;
  }
}

@media screen and (max-width: 1050px) {
  div.leftIntro {
    height: 140vh;
  }
  /* ,
  div.rightintro  */

  div.circle {
    width: 200vh;
    height: 250px;
    top: 77vh;
    right: 0px;
    overflow-y: hidden;
    border-radius: 0;
    background-image: url(./assets/workspace\ backgrounf.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
  }

  div.circle [alt="extra"] {
    height: 300px;
    width: clamp(200px, 69rem, 69rem);
    margin-left: 10rem;
  }
  div.leftIntro {
    overflow-x: hidden;
    margin-right: 9rem;
    width: 625px;
    margin-left: -50px;
    margin-top: -38px;
  }
  div.rightintro {
    width: 100px;
  }
  div.infoContent {
    display: none;
  }
  div.circle [alt="Proud Coder"] {
    display: none;
    width: 100vw;
    margin-left: 460px;
    height: 100px;
  }
  #home {
    justify-content: space-between;
  }
  a.contactButton {
    border-radius: 8px;
    width: 300px;
    margin: 15px 74px;
  }
  div.scrollbarbox {
    display: none;
  }

  .leftIntro > h1 {
    font-size: 4.3rem;
  }
  .leftIntro h3 {
    font-size: 1.5rem;
  }
  .leftIntro span {
    font-size: 2rem;
  }
  .menu {
    margin-left: 150px;
  }
  div.infobox {
    z-index: 1000;
    z-index: 1000;
    left: 10px;
    top: 19px;
    width: 404px;
  }
}
@media screen and (min-width: 727px) and (max-width: 1049px) {
  div.stickyImg {
    opacity: 1;
  }
}
@media screen and (min-width: 2px) and (max-width: 645) {
  div.circle [alt="Proud Coder"] {
    display: none;
  }
}
